/* Normalisation supplémentaire 
=============================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Mise en page de base
=============================================== */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html p::selection {
  color: white;
  background-color: rgb(183, 230, 155);
}

header {
    position: fixed;
}

body {
    font-family: "Cagliostro", sans-serif;
    text-align: justify;
    font-size: calc(1vw + 1vh + 1vmin);
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #section2, #section4, #section5, #section6 {
    padding: 8dvh 2rem;
  }

  

/* ========== Section 1 - Vidéo ========== */

#section1 {
  margin: 0;
  padding: 0;
  position: relative;
  height: 98svh;
  width: 100dvw;
  overflow: hidden;
}

.titre {
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  font-family: "Cinzel Decorative", serif;
  color: white;
}

#section1 video {
  margin: 0;
  padding: 0;
  width: auto;
  height: fit-content;
  
}

/* ========== Section 2 - Texte 1 ========== */

#section2 {
  position: relative;
}

p {
  padding: 2dvh 2rem;
}

.bg-texte1:nth-child(2) {
  background-image: url("../medias/lilypad1.png");
  top: 0;
  left: 0;
  transform: translate(-8dvw, -3dvh);
}
.bg-texte1:nth-child(3) {
  background-image: url("../medias/fishies.png");
  top: 0;
  right: 0;
  transform: translate(6dvw, -1dvh);
}
.bg-texte1:nth-child(4) {
  background-image: url("../medias/sleeping_bear.png");
  bottom: 0;
  left: 0;
  transform: translate(10dvw, 5dvh);
}
.bg-texte1:nth-child(5) {
  background-image: url("../medias/lilypads2.png");
  bottom: 0;
  right: 0;
  transform: translate(5dvw, 1dvh);
}

.bg-texte1, .bg-texte2 {
  z-index: -1;
  position: absolute;
  width: 40%;
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}
  
/* ========== Section 3 - Carrousel ========== */
 
#section3, #section5 {
 background-color: rgb(247, 247, 247);
 padding-top: 4rem;
 padding-bottom: 4rem;
}

@keyframes carrouselAnim {
  0% {
    transform: translateX(80dvw);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-80dvw);
    opacity: 0;
  }
  100% {
    transform: translateX(-80dvw);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 80dvw;
  height: 60dvw;
  
}

.pic-ctn > div {
  position: absolute;
  top: 0;
  left: calc(50% - 40dvw);
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: carrouselAnim 20s infinite;
} 

.pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pic:nth-child(1) {
  background-image: url("../medias/roches.png");
}
.pic:nth-child(2) {
  animation-delay: 4s;
  background-image: url("../medias/fishes.png");
}
.pic:nth-child(3) {
  animation-delay: 8s;
  background-image: url("../medias/fishingBear.png");
}
.pic:nth-child(4) {
  animation-delay: 12s;
  background-image: url("../medias/layingBear.png");
}
.pic:nth-child(5) {
  animation-delay: 16s;
  background-image: url("../medias/0001.png");
}

/* ========== Section 4 - Texte 2 ========== */

#section4 {
  position: relative;
}

.bg-texte2:nth-child(2) {
  background-image: url("../medias/rocks.png");
  top: 0;
  left: 0;
  transform: translate(1dvw, -6dvh);
}
.bg-texte2:nth-child(3) {
  background-image: url("../medias/lilypad3.png");
  top: 0;
  right: 0;
  transform: translate(8dvw, -1dvh);
}
.bg-texte2:nth-child(4) {
  background-image: url("../medias/lilypads4.png");
  bottom: 0;
  left: 0;
  transform: translate(0dvw, 3dvh);
}
.bg-texte2:nth-child(5) {
  background-image: url("../medias/sitting_bear.png");
  bottom: 0;
  right: 0;
  transform: translate(5dvw, 8dvh);
}

/* ========== Section 5 - 3D Viewer ========== */

spline-viewer{
  width: 80dvw;
}

/* ========== Section 6 - Rendu Finale ========== */
h2 {
  font-family: "Cinzel Decorative", serif;
  padding-bottom: 1rem;
}

#video2 {
  width: 80dvw;
}

/* ========== Les Requêtes Medias ========== */

@media screen and (min-width: 768px) {
  #section2, #section4 {
    height: 85dvh;
  }

    p {
      padding: 4dvh 6rem;
    }

    .bg-texte1:nth-child(2) {
      transform: translate(-1dvw, -6dvh);
    }
    .bg-texte1:nth-child(3) {
      transform: translate(-3dvw, -4dvh);
    }
    .bg-texte1:nth-child(4) {
      transform: translate(0dvw, 2dvh);
    }
    .bg-texte1:nth-child(5) {
      transform: translate(2dvw, 1dvh);
    }

    .bg-texte2:nth-child(5) {
      transform: translate(8dvw, 4dvh);
    }

}

@media screen and (min-width: 992px) {

  .pic-ctn {
    width: 60dvw;
    height: 40dvw;
  }
  
  .pic-ctn > div {
    left: calc(50% - 30dvw);
  } 

  .bg-texte1:nth-child(2) {
    transform: translate(-8dvw, -5dvh);
  }
  .bg-texte1:nth-child(3) {
    transform: translate(1dvw, -4dvh);
  }
  .bg-texte1:nth-child(4) {
    transform: translate(-2dvw, 0dvh);
  }
  .bg-texte1:nth-child(5) {
    transform: translate(6dvw, 1dvh);
  }
  
  .bg-texte2:nth-child(5) {
    transform: translate(10dvw, 2dvh);
  }
}